.section-telemedicine{
	height: 400px;
	background: white;
	

	.telemedicine-container{
		margin: 0 50px !important;
		display: flex;
		flex-direction: column;

		.telemedicine-header{
			margin:20px 0;
			height: 60px;
			display: flex;
			justify-content: space-between;
			span{
				font-size: 25px;
				font-weight: 600;
			}
			button{
				height: 35px !important;
				width: 97px !important;
				background: #ebebeb;
				border: none;
				color: #282e41;
				&:hover{
					background: #FFC419;
					color: white;
				}
			}
		}
		.telemedicine-body{

			.img-customize{
				padding: 10px;

				img{
					width: 349px;
				}
			}
			
			.slick-prev{
				// position: relative !important;
				left: -10px !important;
				z-index: 1000;
				height: 48px !important;
				width: 44px !important;
				background: #fff !important;
				border: 2px solid #d7d7d7 !important;
			
				&:hover{
					background: #eceace !important;
				}
			}
			
			.slick-prev::before ,.slick-next::before{
				font-family:"Font Awesome 5 Free"  !important;
				color: red !important;
				// content: "\e257" !important;
			}
			
			.slick-next{
				right : -10px !important;
				z-index: 1000;
				height: 48px !important;
				width: 44px !important;
				background: #fff !important;
				border: 2px solid #d7d7d7 !important;
			
				&:hover{
					background: #eceace !important;
				}
			}
		}
		
	}
	

}

//reset slick slider css



